.quote-container {
  margin: auto;
  background: linear-gradient(var(--background-color), var(--background-dark));
  width: 100vw;
  box-sizing: border-box;
  
  > .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--quote-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    > h1 {
      font-weight: 750;
    }
  }
}
