.carousel {
  position: relative;
  display: flex;
  height: 30rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.slide {
  position: absolute;
  border-radius: 1.2rem;
  width: 45rem;
}

.controls {
  display: flex;
  align-items: center;
}

.dot-navigation {
  display: flex;
  align-items: center;
}

.dot {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: gray;
  opacity: 0.5;
  margin: 0 0.3rem;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: var(--carousel-dot-color); // Change to the desired active color
  width: 0.75rem;
  height: 0.75rem;
  opacity: 1;
}

.arrow-left {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateX(-5px);
  }
}

.arrow-right {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateX(5px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .slide {
    scale: 80%;
  }
}

@media screen and (min-width: 525px) and (max-width: 767px) {
  .slide {
    scale: 60%;
  }
}

@media screen and (max-width: 524px) {
  .slide {
    scale: 40%;
  }
}
