.animated-button {
  display: flex;
  margin: 1.5rem auto;
  box-sizing: border-box;
  width: fit-content;
  gap: 1.5rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.85rem;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  >.label-text {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    background: url('src/assets/images/InstagramBg.webp');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    #view-more-at {
      font-size: 0.75rem;
    }

    #name {
      font-family: Lato;
      font-size: 1.125rem;
      font-weight: 700;
    }
  }
}

.animated-button:hover {
  >.label-text {
    background: none;
    background-size: auto;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: white;
  }

  >.logo {
    filter: brightness(0) invert(1);
  }
}
