.myprojects-container {
  background: var(--background-color);
  width: 100vw;
  box-sizing: border-box; // Include padding in width calculation
}

.big-projects-container {
  margin: 5rem 0rem;
}

.subheader {
  font-style: italic;
  font-weight: 450;
  color: var(--text-header);
}