.big-project-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
  margin: 3rem 1.5rem;
  align-items: center;

  .text-container {
    display: flex;
    flex-direction: column;
    flex: 2;

    .title-container {
      > a {
        max-width: 100%;
        font-weight: 500;
        color: var(--primary-color);
        letter-spacing: 0.01em;
        font-size: inherit;
    
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .role {
      font-size: 1.2rem;
      font-weight: 450;
    }

    .icon-list {
      display: flex;
      flex-wrap: wrap;
      gap: 0.625rem;
    }
  }
  
  > img {
    width: 30rem;
    height: 22.5rem;
    border-radius: 0.45rem;
  }
}

@media (max-width: 1023px) {
  .big-project-container {
    grid-template-columns: 1fr;

    > img {
      order: -1; // move above text when view is shrunk
    }
  }
}