.big-project-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
  margin: 3rem 1.5rem;
  align-items: center;

  > .text-container {
    > .title-container {
      > .title {
        display: inline-block;
        white-space: normal;
        font-weight: 580;
        color: var(--text-main);
        letter-spacing: 0.01em;
        font-size: inherit;

        &:hover {
          text-decoration: underline;
        }
      }

      > .company {
        display: inline-block;
        white-space: normal;
        font-weight: 500;
        color: var(--primary-color);
        letter-spacing: 0.01em;
        font-size: inherit;
    
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .role {
      font-size: 1.2rem;
      font-weight: 450;
    }

    .icon-list {
      display: flex;
      flex-wrap: wrap;
      gap: 0.625rem;
    }
  }
  
  > .image-box {
    position: relative;
    overflow: hidden;
    width: 30rem;
    height: 22.5rem;
    border-radius: 0.45rem;

    > .image-with-text {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      > img {
        width: 30rem;
        height: 22.5rem;
        border-radius: 0.45rem;
        transition: all 0.3s;
        scale: 100%;
      }

      > .image-text {
        position: absolute;
        z-index: 100;
        
        > p {
          font-weight: 450;
          color: var(--text-inverted);
        }
      }
    }
  }
  
  .image-box::before {
    content: '';
    /* Create a pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color-init);
    /* Initial transparent background */
    transition: background-color 0.3s ease;
    /* Add a smooth transition effect */
    z-index: 1;
    /* Place the overlay above the image */
    pointer-events: none;
    /* Allow mouse events to pass through the overlay */
  }

  .image-box:hover::before {
    background-color: var(--overlay-color-hover);
    /* Change the overlay color on hover */
  }

  > .image-box:hover img {
    scale: 110%;
  }
}


@media screen and (max-width: 1440px) {
  .big-project-container {
    grid-column-gap: 3rem;

    >.image-box {
        width: 30vw;
        height: 22.5vw;

      > .image-with-text > img {
        width: 30vw;
        height: 22.5vw;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .big-project-container {
    grid-template-columns: 1fr;
    
    > .text-container {
      width: 70vw;
    }

    > .image-box {
      width: 70vw;
      height: 52.5vw;
      
      > .image-with-text > img {
        width: 70vw;
        height: 52.5vw;
        order: -1; // move above text when view is shrunk
      }
    }
  }
}