.navbar-container {
    margin: 1.1rem;
    position: fixed;
    z-index: 40;
}

.navbar {
    display: flex;
    padding: 0.75rem 1.5rem;
    gap: 3.75rem;
    width: fit-content;

    border-radius: 2.5rem;
    background: var(--nav-bar-bg);

    // Light Nav Bar Shadow
    box-shadow: 0px 0px 4px 0px var(--nav-bar-shadow);
    backdrop-filter: blur(10px);
    box-sizing: border-box;

    a {
        color: var(--text-subtitle);
        transition: color 0.3s;

        &:hover {
            color: var(--primary-color);
        }
    }
}
