:root {
    /* Light Mode */

    /* Primary colors */
    --primary-color: #E84A79;
    --primary-hover: #C03760;

    /* Secondary colors */

    /* Background colors */
    --background-color: #FFFFFF;
    --background-dark: #F5F5F7;

    /* Text colors */
    --text-main: #242424;
    --text-subtitle: #4D4D4D;
    --text-header: #898E9F;
    --text-inverted: #FCFCFC;

    /* Accent colors */
    --accent-header: linear-gradient(300deg, #6645eb, #C7549F, #515aaddc, #995FA0, #D45192, #b1376ed8, #764ce9, #D74D8B);
    --primary-button-shadow: 0px 2px 10px 0px rgba(227, 118, 111, 0.50);
    --title-text: #898E9F;

    --nav-bar-bg: rgba(255, 255, 255, 0.20);
    --nav-bar-shadow: 0px 0px 1.5px 0px rgba(43, 40, 74, 0.50);

    --container-shadow: 0px 0px 1.5px 0px rgba(43, 40, 74, 0.25);
    --tag-hover-bg: #F5F5F5;
    --tag-outline: #BDBDBD;

    --card-shadow: -0.625vw 0.5vw 1.875vw 0vw rgba(56, 40, 40, 0.4);
    --minicard-shadow: -0.4vw 0.5vw 1.2vw 0vw rgba(56, 40, 40, 0.4);

    --quote-color: linear-gradient(180deg, #EB4174 0%, #F57559 50.97%, #f2a74c 100%);

    --scrollbar-tab: #848383;
    --scrollbar-tab-hover: #4c4c4e;
    --scrollbar-bg: #ccc;

    --carousel-dot-color: #7B61FF;

    --linkedin-outline: #E0DFDC;
    --linkedin-profile-shadow: 0px 0px 10px 0px rgba(21, 21, 21, 0.70);
    --linkedin-card-shadow: -10px 8px 30px 0px rgba(56, 40, 40, 0.20);
    --linkedin-button-shadow: 0px 0px 8px 0px rgba(3, 10, 73, 0.30);
    --linkedin-button-color: #0A66C2;
    --linkedin-button-hover: #0853A0;
    --contact-me-text-bg: linear-gradient(270deg, #FFF 0%, #FFF 48.44%, rgba(255, 255, 255, 0.00) 100%);

    --icon-filter: invert(12%) brightness(87%) contrast(90%);
}