.contact-container {
  background: var(--background-color);
  width: 100vw;
  box-sizing: border-box; // Include padding in width calculation

  .linkedin {
    width: 100%;
    height: fit-content;
  }

  > .text-container {
    text-align: end;
    padding-bottom: 4rem;
    z-index: 1;
    float: right;
    background: var(--contact-me-text-bg);
    pointer-events: none; // So that the bg does not block us from clicking the button behind it

    > .text {
      pointer-events: all;
      
      #working-with-me {
        white-space: nowrap;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .linkedin {
    position: absolute;
  }
  .contact-container > .text-container {
    position: relative;
    width: 70%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .underline {
    width: 25rem;
  }
  .contact-container > .text-container {
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .underline {
    width: 24rem;
  }

  .contact-container > .text-container {
    width: 100%;
    height: fit-content;
  }
}

@media screen and (max-width: 767px) {
  .underline {
    width: 24rem;
  }
}
