.stats-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.8rem;
  box-shadow: var(--container-shadow);
  background: var(--text-inverted);
}

#number {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

#description {
  color: var(--text-subtitle);
  font-size: 1rem;
  align-self: center;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1440px) {
  .stats-card {
    width: 12rem;
    height: 12rem;
  }
}

@media screen and (min-width: 1224px) and (max-width: 1439px) {
  .stats-card {
    width: 12vw;
    height: 12vw;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1225px) {
  .stats-card {
    width: 9.5rem;
    height: 9.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .stats-card {
    width: 12rem;
    height: 12rem;
  }
}
