// Component-specific interactions
button {
    font-family: SF Pro;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}

h1 {
    font-weight: 700;
    margin: 0;
}

h2 {
    font-weight: 580;
    line-height: 110%;
    color: var(--text-main);
}

h3 {
    font-weight: 500;
}

h4 {
    font-weight: 590;
    color: var(--text-subtitle);
}

h5 {
    font-weight: 700;
}

h6 {
    font-weight: 580;
    color: var(--text-main);
    line-height: 130%;
}

a {
    font-weight: 450;
    text-decoration: none;
    letter-spacing: .05rem;
    white-space: nowrap;
    color: var(--text-main);
}

p {
    font-weight: 500;
    color: var(--text-subtitle);
    line-height: 140%;
    letter-spacing: 0.01em;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-bottom: 0.88rem;
}

// for all content sections (e.g. Home, About Me, Projects)
.section {
  padding: 6.875rem 9.5vw;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

// For the purplish gradient animation on text
.animated-text {
    background: var(--accent-header);
    background-size: 360% 360%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 30s ease infinite;
}

// Responsive layout adjustments
// Only supported for tablet to PC sizes, not mobile

@media screen and (min-width: 2560px) {
    .section {
        padding: 6.875rem 20%;
    }
    
    h1 { font-size: 5rem; }
    h2 { font-size: 6rem; }
    h3 { font-size: 2rem; }
    h4 { font-size: 1.8rem; }
    h5 { font-size: 3.125rem; }
    h6 { font-size: 1.8rem; }
    a { font-size: 1.1rem; }
    p { font-size: 1.4rem; }
}

@media screen and (min-width: 1980px) and (max-width: 2559px) {
    .section {
        padding: 6.875rem 15%;
    }

    h1 { font-size: 5rem; }
    h2 { font-size: 6rem; }
    h3 { font-size: 2rem; }
    h4 { font-size: 1.6rem; }
    h5 { font-size: 3.125rem; }
    h6 { font-size: 1.8rem; }
    a { font-size: 1.1rem; }
    p { font-size: 1.4rem; }
}

@media screen and (min-width: 1440px) and (max-width: 1980px) {
    h1 { font-size: 4rem; }
    h2 { font-size: 6rem; }
    h3 { font-size: 2rem; }
    h4 { font-size: 1.6rem; }
    h5 { font-size: 3.125rem; }
    h6 { font-size: 1.8rem; }
    a { font-size: 1.1rem; }
    p { font-size: 1.4rem; }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    h1 {  font-size: 4rem; }
    h2 {  font-size: 4.6rem; }
    h3 { font-size: 1.8rem; }
    h4 { font-size: 1.6rem; }
    h5 { font-size: 2.6rem; }
    h6 { font-size: 1.8rem; }
    a { font-size: 1.1rem; }
    p { font-size: 1.2rem; }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 { font-size: 5.8vw; }
    h2 { font-size: 4.4rem; }
    h3 { font-size: 2.8vw; }
    h4 { font-size: 1.6rem; }
    h5 { font-size: 3.125rem; }
    h6 { font-size: 1.8rem; }
    a { font-size: 1rem; }
    p { font-size: 1.2rem; }
}

@media screen and (max-width: 767px) {
    h1 { font-size: 5.8vw; }
    h2 { font-size: 10vw; }
    h3 { font-size: 0.85rem; }
    h4 { font-size: 1.1rem; }
    h5 { font-size: 2rem; }
    h6 { font-size: 1.8rem; }
    a { font-size: 1rem; }
    p { font-size: 1.2rem; }
}