// Component-specific interactions
button {
    font-family: SF Pro;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}

h1 {
    font-weight: 700;
    margin: 0;
}

h2 {
    font-weight: 580;
    color: var(--text-main);
}

h3 {
    font-weight: 500;
}

h4 {
    font-weight: 590;
    color: var(--text-subtitle);
}

h5 {
    font-weight: 700;
}

a {
    font-weight: 450;
    text-decoration: none;
    letter-spacing: .05rem;
    white-space: nowrap;
    color: var(--text-main);
}

p {
    font-weight: 400;
    color: var(--text-subtitle);
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Responsive layout adjustments
// Only supported for tablet to PC sizes, not mobile

@media screen and (min-width: 1440px) {
    h1 { font-size: 4vw; }
    h2 { font-size: 6rem; }
    h3 { font-size: 2vw; }
    h4 { font-size: 1.6rem; }
    h5 { font-size: 3.125rem; }
    a { font-size: 1.1rem; }
    p { font-size: 1.4rem; }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    h1 {  font-size: 3rem; }
    h2 {  font-size: 4.6rem; }
    h3 { font-size: 1.5rem; }
    h4 { font-size: 1.6rem; }
    h5 { font-size: 2.6rem; }
    a { font-size: 1.1rem; }
    p { font-size: 1.4rem; }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 { font-size: 5vw; }
    h2 { font-size: 6rem; }
    h3 { font-size: 2.8vw; }
    h4 { font-size: 1.6rem; }
    h5 { font-size: 3.125rem; }
    a { font-size: 1rem; }
    p { font-size: 1.4rem; }
}
