.myartworks-container {
  background: var(--background-dark);
  width: 100vw;
  box-sizing: border-box; // Include padding in width calculation
  text-align: center;
  overflow: hidden;
}

.carousel-container {
  margin-top: 2rem;
}